.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  background-color: #f2f2f2;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo {
  width: 183px;
  height: 32px;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 1;
}

.header__title {
  margin: 0;
  padding: 0 0 0 64px;
  position: relative;
  width: 730px;
  font-size: 102px;
  line-height: 96px;
  font-weight: bold;
  z-index: 3;
}

.header__subtitle {
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 30px;
  left: 64px;
  width: 388px;
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
}
.header__link::after {
  content: '\2192';
}
.header__main-illustration {
  position: absolute;
  width: 765px;
  height: 608px;
  bottom:0;
  right: 0;
  z-index: 2;
}
.header__square-pic {
  position: absolute;
  background-color: #2f80ed;
  height: 568px;
  width: 568px;
  top: 64px;
  right: 0;
  z-index: 1;
}

.description {
  display: flex;
  padding-top: 100px;
  justify-content: center;
}
.two-columns {
  display: flex;
  width: 80%;
  justify-content: space-between;
}

.two-columns__brief{
  margin: 0;
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.two-columns__paragraph {
  margin: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 30px;
}

.two-columns__paragraph:last-child {
  margin: 0;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}

.digits {
  display: flex;
  flex-wrap: wrap;
  padding-top: 100px;
  justify-content: center;
}

.section-title {
  width: 60%;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 20px;
}

.section-subtitle {
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 0 auto;
  text-align: center;
}

.table {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1100px;
  padding-bottom: 100px;
}

.table__cell {
  width: 250px;
  padding-top: 60px;
}

.table__heading {
  margin: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.table__text {
  margin: 0;
  padding-top: 20px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.feynman{
  min-height: 890px;
  position: relative;
  background-color: #f2f2f2;
  background-image: url(../images/feynman.png);
  background-size: 867px 637px;
  background-repeat: no-repeat;
  background-position: left bottom;
}

.feynman__title {
  width: 648px;
  text-align: center;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  margin: 0 auto;
  padding-bottom: 70px;
  padding-top: 100px;
}

.feynman__subtitle {
  line-height: 51px;
  text-align: center;
  font-size: 36px;
  font-weight: normal;
  margin: 0 auto;
}

.feynman__link {
  position: absolute;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  top: 50%;
  bottom: 50%;
  right: 48px;
  color: #2f80ed;
  text-decoration: none;
}
.feynman__link::after {
  content: '\2192';
}
.kaufman{
  background-color: #1f1f1f;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.kaufman__triangle {
  position: absolute;
  top: 0;
  right: -210px;
  width: 877px;
  height: 877px;
  z-index: -1;

}

.section-title_theme_dark {
  padding-top: 90px;
  padding-bottom: 20px;
  color: white;
}

.section-subtitle_theme_dark {
  color: white;
}
.table_theme_dark {
  padding-bottom: 90px;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  padding-top: 80px;
}

.table__heading_theme_dark {
  margin: 0;
}

.table__text_theme_dark {
  margin: 0;
  padding: 0;
}

.table__cell_theme_dark:nth-of-type(2)::after {
  content: none;
}
.table__cell_theme_dark:nth-of-type(5)::after {
  content: none;
}

.footer {
  min-height: 350px;
  display: flex;
  justify-content: center;
  background-color: #1f1f1f;
}

.footer__columns {
  display: flex;
  width: 90%;
  padding-top: 60px;
  padding-bottom: 40px;
  justify-content: space-between;
  color: white;
}

.footer__column_content_copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 711px;
  padding: 0;
  margin: 0;
} /*первая колонка, ниже содержимое*/

.logo_place_footer {
  height: 35px;
}

.footer__author {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
  padding: 18px 0;
}

.footer__column_content_info {
} /*вторая колонка, ниже содержимое*/

.footer__column-heading {
  margin: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
}

.footer__column-links {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 16px;
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.footer__column-link {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
  color: white;
}

.footer__column_content_social {} /*третья колонка, содержимое снизу, пользуется классами второй колонки*/

.footer__social-icon {
  padding-right: 10px;
  width: 16px;
  height: 16px;
}
